/node_modules
/public/hot
/public/storage
#/storage/*.key
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log

/vendor/*
/vendor/*/*
/vendor/*/*/*
/vendor/*/*/*/*
/vendor/*/*/*/*/*
/vendor/*/*/*/*/*/*

!/vendor/
!/vendor/spatie/
!/vendor/spatie/laravel-http-logger/
!/vendor/spatie/laravel-http-logger/src/
!/vendor/spatie/laravel-http-logger/src/LogNonGetRequests.php


#/public/images/upload/*
