RewriteEngine On

RedirectMatch ^/$ http://single.com/menu

RewriteCond %{HTTP_HOST} ^single.com
RewriteRule "menu" http://ozpos.com/customer/restaurant/1 [P]
RewriteRule ^(.*) http://ozpos.com/customer/restaurant/1/$1 [P]
